html,
body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: auto;
}
/* header start */
header {
	margin: 1.875rem 1.25rem;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.anchor-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2.5rem;
}
.sign-in {
	text-align: right;
	font-weight: bold;
	color: #0065fc;
	text-decoration: none;
}
.sign-in:visited {
	color: #0065fc;
}
.anchor {
	text-decoration: none;
	flex: 1;
	color: black;
	text-align: center;
	border-bottom: 0.3rem solid #f2f2f2;
	padding-bottom: 1rem;
}
.anchor:focus {
	color: #0065fc;
	border-bottom: 2px solid #0065fc;
}
h1 {
	font-size: 1.5rem;
	margin-top: 2rem;
}
h2 {
	font-size: 1rem;
	font-weight: normal;
}
/* breakpoint pad */
@media screen and (min-width: 594px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
	}
	nav a:nth-child(2) {
		order: 4;
	}
	.anchor-box {
		align-items: center;
		width: 40%;
		margin-top: initial;
	}
	.anchor {
		padding-bottom: 0;
		padding-top: 0.3rem;
		border-bottom: none;
	}
}
/* breakpoint desktop */
@media screen and (min-width: 900px) {
	header {
		margin: 3.125rem 3.125rem 0 3.125rem;
		font-size: 1rem;
	}
	nav {
		justify-content: flex-end;
		margin-top: 3.125rem;
		height: 3.2rem;
	}
	nav img {
		position: absolute;
		left: 3.125rem;
		top: 3.125rem;
	}
	.anchor-box {
		width: auto;
	}
	.anchor {
		display: flex;
		border-bottom: none;
		align-items: center;
		padding-top: 0;
		margin-right: 3.75rem;
		height: 3rem;
	}
	.anchor:hover {
		color: #0065fc;
		border-top: 2px solid #0065fc;
	}
	.anchor:focus {
		border-bottom: none;
	}
	.sign-in:hover {
		transition: all 0.2s;
		transform: scale(1.2);
		text-shadow: 1px 1px 1px white, 2px 2px 1px #919191, 3px 3px 1px #919191;
	}
	h1 {
		margin-top: 3.125rem;
	}
	h2 {
		font-size: 1rem;
	}
}
/* header end */
/* "search" bar start */
.search-bar {
	display: flex;
	justify-content: center;
	overflow: hidden;
	height: 3.125rem;
	width: 90%;
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
	border-radius: 15px;
	margin: auto;
}
.icon1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.125rem;
	width: 3.125rem;
	background-color: #f2f2f2;
	font-size: 1.2rem;
}
.search-bar input {
	flex: 1;
	height: 3.125rem;
	padding-left: 10px;
	font-weight: bold;
	color: black;
	border: none;
}
.search-bar input::placeholder {
	color: black;
	font-size: 1rem;
	padding-left: 10px;
}
.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.125rem;
	height: 3.125rem;
	border: none;
	background-color: #0065fc;
	border-radius: 15px 15px 15px 15px;
	color: white;
	background-color: #0065fc;
	font-size: 1.2rem;
}
.desktop-button {
	display: none;
}
/* breakpoint pad */
@media screen and (min-width: 594px) {
	.search-bar {
		width: 60%;
		margin: auto;
	}
}
/* breakpoint desktop */
@media screen and (min-width: 900px) {
	.search-bar {
		margin: 2rem 0 0 3.125rem;
		width: 26.375rem;
		transition: all 0.2s;
	}
	.search-bar button {
		width: 8.375rem;
		border-radius: 0;
	}
	.search-button {
		display: none;
	}
	.desktop-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8.375rem;
		max-height: 3.125rem;
		border: none;
		background-color: #0065fc;
		color: white;
		background-color: #0065fc;
		font-size: 1rem;
		border-radius: 0;
		transition: all 0.4s;
	}
	.desktop-button:hover {
		cursor: pointer;
		box-shadow: inset 8.375rem 3.125rem 3px #f2f2f2;
		color: #0065fc;
		border-bottom: 2px solid #0065fc;
		border-right: 2px solid #0065fc;
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
		transform: scale(0.98);
	}
}
/* "search" bar end */
/* "filters" box start */
.filters-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	margin-top: 1rem;
}
.line-tittle {
	display: flex;
	width: 100%;
}
.filters-bar1 {
	width: 11.875rem;
	margin-right: 1rem;
}
.filters-name1 {
	width: 8.75rem;
}
.filters-bar2 {
	width: 9.188rem;
}
.filters-name2 {
	width: 6.063rem;
}
.filters-bar3 {
	width: 11.25rem;
	margin-right: 1rem;
}
.filters-name3 {
	width: 8.125rem;
}
.filters-bar4 {
	width: 14.875rem;
}
.filters-name4 {
	width: 11.75rem;
}
.filters-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-radius: 1.563rem;
	margin-bottom: 1rem;
}
.filters-bar:link {
	text-decoration: none;
	color: black;
}
.filters-bar:visited {
	color: black;
}

.filters-icon {
	background-color: #deebff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065fc;
	height: 3.125rem;
	width: 3.125rem;
	text-align: center;
	font-size: 1.25rem;
	border-radius: 50%;
}
.filters-name {
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.info-line {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 3.125rem;
}
.info-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	/* use min-height and min-width otherwise the circle 
	is deformed in small resolution */
	min-width: 1.25rem;
	min-height: 1.25rem;
	margin-right: 10px;
	font-size: small;
	color: #0065fc;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
}
.info-text {
	font-weight: normal;
	font-size: 1rem;
}
/* breakpoint pad */
@media screen and (min-width: 594px) {
	.filters-bar3 {
		margin-left: 1rem;
	}
}
/* breakpoint desktop */
@media screen and (min-width: 1000px) {
	.filters-box {
		justify-content: flex-start;
		margin-left: 3.125rem;
		margin-top: 1.875rem;
	}
	.line-tittle {
		width: auto;
		align-items: center;
		margin-right: 1.5rem;
	}
	.filters-bar {
		margin-bottom: 0;
		margin-right: 1.5rem;
		margin-left: 0;
	}
	.filters-icon:hover {
		color: #deebff;
		transform: rotateZ(360deg);
		background-color: #0065fc;
		transition: all 0.5s;
	}
	.info-line {
		margin-top: 1.875rem;
	}
}
/* "filters" box end*/
/* "popular" box start */
.popular-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #f2f2f2;
	padding-bottom: 1.563rem;
}
.popular-head {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	margin-top: 2.5rem;
	margin-bottom: 1.563rem;
}
.popular-thumbnail-link {
	display: flex;
	flex-direction: row;
	justify-content: left;
	overflow: hidden;
	height: 8.375rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	border: 4px solid white;
	border-radius: 15px;
	transition: all 0.3s;
	box-shadow: 1px 1px 8px #f2f2f2;
	margin-bottom: 0.625rem;
}
.popular-image-size {
	height: 100%;
	width: 34%;
	object-fit: cover;
}
.popular-text-size {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 66%;
	background-color: white;
}
.location {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1.25rem;
}
.price {
	margin-left: 1.25rem;
}
.rating {
	margin-left: 1.25rem;
}
.popular-thumbnail-link:link {
	color: black;
	text-decoration: none;
}
.popular-thumbnail-link:visited {
	color: black;
}
.bluestar {
	color: #0065fc;
}
.greystar {
	color: #f2f2f2;
}
/* "popular" box  end */
/* "rental" box  start */
.rental-box {
	display: flex;
	flex-direction: column;
}
.rental-head {
	margin-top: 2.5rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	font-size: 1.5rem;
}
.rental-thumbnail-link {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 11.875rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	border: 4px solid white;
	border-radius: 15px;
	transition: all 0.3s;
	box-shadow: 1px 1px 8px #f2f2f2;
	margin-bottom: 0.625rem;
}
.rental-image-size {
	height: 60%;
	width: 100%;
	object-fit: cover;
}
.rental-text-size {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40%;
	width: 100%;
	background-color: white;
}

.rental-thumbnail-link:link {
	color: black;
	text-decoration: none;
}
.rental-thumbnail-link:visited {
	color: black;
}
.search-more-link {
	margin-top: 2rem;
	margin-left: 1.25rem;
	text-decoration: none;
	font-weight: bold;
}
.search-more-link:visited {
	color: black;
}
/* breakpoint pad */
@media screen and (min-width: 594px) {
	.popular-thumbnail-link {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.rental-thumbnail-link {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.rental-head {
		width: 90%;
	}
	.search-more-link {
		width: 90%;
	}
}
/* breakpoint pad/desktop */
@media screen and (min-width: 800px) {
	.popular-thumbnail-link {
		margin-right: 15%;
		margin-left: 15%;
	}
	.filters-box {
		justify-content: left;
		margin-left: 3.125rem;
	}
	.popular-box {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.popular-thumbnail-link {
		margin-left: 20%;
		margin-right: 20%;
	}
	.popular-head {
		width: 90%;
	}
	.rental-box {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.rental-thumbnail-link {
		width: 45%;
	}
}
/* breakpoint desktop */
@media screen and (min-width: 1000px) {
	.rental-global-box {
		margin-top: 2.5rem;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.rental-box {
		justify-content: space-between;
		box-sizing: border-box;
		padding-left: 2.778%;
		padding-right: 2.778%;
		width: 61.111%;
		height: 39.25rem;
		background-color: #f2f2f2;
		margin-left: 3.472%;
		margin-right: 2.778%;
		border-radius: 0.938rem;
	}
	.rental-head {
		margin: 2.5rem 0 1.75rem 0;
	}
	.rental-thumbnail-link {
		width: 29.72%;
		margin: 0;
		transition: all 0.3s;
	}
	.rental-thumbnail-link:hover {
		transform: scale(1.1);
		box-shadow: 3px 3px 5px #0065fc;
	}
	.search-more-link {
		width: auto;
		margin: 0;
		transition: all 0.3s;
	}
	.search-more-link:hover {
		transform: scale(1.1);
		text-shadow: 1px 1px 1px white, 2px 2px 1px #0065fc, 3px 3px 1px #0065fc;
	}
	.popular-box {
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		width: 29.167%;
		height: 39.25rem;
		margin-right: 3.472%;
		padding-left: 2.778%;
		padding-right: 2.778%;
		border-radius: 0.938rem;
	}
	.popular-thumbnail-link {
		width: 100%;
		margin: 0;
		transition: all 0.3s;
	}
	.popular-thumbnail-link:hover {
		transform: scale(1.1);
		box-shadow: 3px 3px 5px #0065fc;
	}
	.popular-head {
		width: auto;
	}
}
/* "rental"box end */
/* "activities" box start */
.activities-box {
	margin-bottom: 3.125rem;
}
.activities-thumbnail-phone {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 11.875rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	border-radius: 15px;
	box-shadow: 1px 1px 8px #f2f2f2;
	margin-bottom: 0.625rem;
}
.activities-image-size {
	height: 72%;
	width: 100%;
	object-fit: cover;
}
.activities-text-size {
	display: flex;
	flex-direction: column;
	justify-content: left;
	height: 28%;
	width: 100%;
	background-color: white;
}
.activities-thumbnail-phone:link {
	color: black;
	text-decoration: none;
}
.activities-thumbnail-phone:visited {
	color: black;
}
.activities-location {
	margin: auto auto auto 1.25rem;
}
.activities-head {
	margin-top: 2.5rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	font-size: 1.5rem;
}
/*breakpoint pad*/
@media screen and (min-width: 594px) {
	.activities-thumbnail-phone {
		margin-left: 10%;
		margin-right: 10%;
	}
	.activities-head {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
/*breakpoint pad/desktop*/
@media screen and (min-width: 800px) {
	.activities-box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
		flex-wrap: wrap;
		height: 37.5rem;
	}
	.activities-thumbnail-phone {
		width: 45%;
		margin: 0 auto 0.625rem auto;
	}
	.c2 {
		width: 45%;
	}
	.activities-thumbnail-link-2 {
		width: auto;
	}
	.activities-thumbnail-link-3 {
		width: auto;
	}
	.c4 {
		width: 45%;
	}
	.activities-thumbnail-link-5 {
		width: auto;
	}
	.activities-thumbnail-link-6 {
		width: auto;
	}
}
/*breakpoint desktop*/
@media screen and (min-width: 1000px) {
	.activities-box {
		max-height: 29.813rem;
		justify-content: space-between;
		align-content: space-between;
		flex-direction: column;
		margin-left: 3.472%;
		margin-right: 3.472%;
	}
	.activities-thumbnail-phone {
		margin: 0;
	}
	.activities-thumbnail-link-1 {
		height: 27.813rem;
		width: 22.588%;
	}
	.activities-thumbnail-link-2 {
		height: 14.875rem;
		width: auto;
	}
	.activities-thumbnail-link-3 {
		height: 10.313rem;
		width: auto;
	}
	.activities-thumbnail-link-4 {
		height: 27.813rem;
		width: 22.588%;
	}
	.activities-thumbnail-link-5 {
		width: auto;
	}
	.activities-thumbnail-link-6 {
		width: auto;
	}
	/*contains thumbnails 2 and 3*/
	.c2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 27.813rem;
		width: 22.588%;
	}
	/*contains thumbnails 5 and 6*/
	.c4 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 27.813rem;
		width: 22.588%;
	}
}
/*activities box end*/
/* footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #f2f2f2;
	padding-bottom: 2.125rem;
}
footer aside {
	display: flex;
	flex-direction: column;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
}
footer p {
	font-weight: bold;
	margin-top: 3.125rem;
	margin-bottom: 1.5rem;
}
footer a {
	margin-bottom: 1rem;
	text-decoration: none;
	color: #000000;
}
footer a:visited {
	color: #000000;
}
@media screen and (min-width: 594px) {
	footer {
		flex-direction: row;
	}
}
@media screen and (min-width: 900px) {
	footer {
		justify-content: space-between;
		padding-right: 25.694%;
		padding-left: 3.125rem;
	}
	footer aside {
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (min-width: 1500px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width: 1600px) {
	html {
		font-size: 20px;
	}
}
@media screen and (min-width: 1700px) {
	html {
		font-size: 22px;
	}
}
