body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
<<<<<<< Updated upstream
	font-size: 100%;
	max-width: 1440px;
	margin: auto;
	padding: 0px 50px;
=======
	max-width: 1440px;
	margin: auto;
>>>>>>> Stashed changes
}
.head-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 130px;
<<<<<<< Updated upstream
=======
	margin-left: 50px;
	margin-right: 50px;
>>>>>>> Stashed changes
}
.menu-top {
	display: flex;
	justify-content: right;
}
.ancre {
	padding: 34px;
}
.ancre:link {
	color: black;
	text-decoration: none;
}
.ancre:visited {
	color: black;
}
.ancre:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
}
.sign-in {
	text-decoration: none;
	font-weight: bold;
	color: #0065fc;
	padding-left: 34px;
	padding-top: 34px;
<<<<<<< Updated upstream
}
.sign-in:hover {
	text-decoration: underline;
}
/* bloc recherche */
=======
	transition: all 0.3s;
}
.sign-in:hover {
	text-decoration: underline;
	transform: scale(1.1);
	text-shadow: rgb(194, 203, 212) 5px 5px;
}
/* bloc recherche */
.search {
	margin-left: 50px;
}
.search h1 {
	font-size: 24px;
}
>>>>>>> Stashed changes
.search h2 {
	font-size: medium;
	font-weight: normal;
}
<<<<<<< Updated upstream
.barrerecherche {
=======
.searchbar {
>>>>>>> Stashed changes
	display: flex;
	justify-content: left;
	height: 50px;
}
<<<<<<< Updated upstream
.barrerecherche i {
=======
.searchbar i {
>>>>>>> Stashed changes
	max-height: 50px;
	width: 50px;
	background-color: #f2f2f2;
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	border-radius: 15px 0px 0px 15px;
}
<<<<<<< Updated upstream
.barrerecherche input {
=======
.searchbar input {
>>>>>>> Stashed changes
	max-height: 50px;
	width: 234px;
	padding-left: 10px;
	font-size: medium;
	font-weight: bold;
	color: black;
	border: 2px solid #f2f2f2;
}
<<<<<<< Updated upstream
.barrerecherche input::placeholder {
=======
.searchbar input::placeholder {
>>>>>>> Stashed changes
	color: black;
	font-size: medium;
	padding-left: 10px;
}
<<<<<<< Updated upstream
.barrerecherche button {
=======
.searchbar button {
>>>>>>> Stashed changes
	width: 134px;
	max-height: 50px;
	background-color: #0065fc;
	color: #ffffff;
	font-weight: bold;
	border: none;
	border-radius: 0px 15px 15px 0px;
<<<<<<< Updated upstream
}
.barrerecherche button:hover {
	cursor: pointer;
	background: linear-gradient(#0065fc, #438af5);
}

/* fin bloc recherche */
/* bloc filtres*/
.filtres {
	margin-top: 30px;
}
.linefilter {
	display: flex;
	flex-wrap: wrap;
}
.firstinlinefilter {
	font-weight: bold;
	font-size: 16px;
	margin-right: 32px;
}
#iconefiltre,
#iconefiltre2,
#iconefiltre3,
#iconefiltre4 {
	font-size: 20px;
	text-align: center;
	padding-top: 15px;
	color: #0065fc;
	border-color: #deebff;
}
.onoffswitch-checkbox,
.onoffswitch-checkbox2,
.onoffswitch-checkbox3,
.onoffswitch-checkbox4 {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.onoffswitch-label,
.onoffswitch-label2,
.onoffswitch-label3,
.onoffswitch-label4 {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #f2f2f2;
	border-radius: 50px;
}
.onoffswitch-inner,
.onoffswitch-inner2,
.onoffswitch-inner3,
.onoffswitch-inner4 {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
/*filtre1*/
.onoffswitch {
	position: relative;
	width: 188px;
	margin-right: 32px;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 50px;
	padding: 0;
	line-height: 50px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "Économique";
	padding-left: 21px;
	background-color: #0065fc;
	color: #ffffff;
}
.onoffswitch-inner:after {
	content: "Économique";
	padding-right: 21px;
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 50px;
	margin: 0px;
	background: #deebff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 138px;

	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
/*filtre 2*/
.onoffswitch2 {
	position: relative;
	width: 146px;
	margin-right: 32px;
}
.onoffswitch-inner2:before,
.onoffswitch-inner2:after {
	display: block;
	float: left;
	width: 50%;
	height: 50px;
	padding: 0;
	line-height: 50px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner2:before {
	content: "Familial";
	padding-left: 19px;
	background-color: #0065fc;
	color: #ffffff;
}
.onoffswitch-inner2:after {
	content: "Familial";
	padding-right: 19px;
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}
.onoffswitch-switch2 {
	display: block;
	width: 50px;
	margin: 0px;
	background: #deebff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 96px;

	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
	margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
	right: 0px;
}
/*filtre 3*/
.onoffswitch3 {
	position: relative;
	width: 180px;
	margin-right: 32px;
}
.onoffswitch-inner3:before,
.onoffswitch-inner3:after {
	display: block;
	float: left;
	width: 50%;
	height: 50px;
	padding: 0;
	line-height: 50px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner3:before {
	content: "Romantique";
	padding-left: 21px;
	background-color: #0065fc;
	color: #ffffff;
}
.onoffswitch-inner3:after {
	content: "Romantique";
	padding-right: 21px;
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}
.onoffswitch-switch3 {
	display: block;
	width: 50px;
	margin: 0px;
	background: #deebff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 130px;

	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox3:checked + .onoffswitch-label3 .onoffswitch-inner3 {
	margin-left: 0;
}
.onoffswitch-checkbox3:checked + .onoffswitch-label3 .onoffswitch-switch3 {
	right: 0px;
}
/*filtre 4*/
.onoffswitch4 {
	position: relative;
	width: 231px;
}
.onoffswitch-inner4:before,
.onoffswitch-inner4:after {
	display: block;
	float: left;
	width: 50%;
	height: 50px;
	padding: 0;
	line-height: 50px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner4:before {
	content: "Animaux autorisés";
	padding-left: 24px;
	background-color: #0065fc;
	color: #ffffff;
}
.onoffswitch-inner4:after {
	content: "Animaux autorisés";
	padding-right: 24px;
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}
.onoffswitch-switch4 {
	display: block;
	width: 50px;
	margin: 0px;
	background: #deebff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 181px;

	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox4:checked + .onoffswitch-label4 .onoffswitch-inner4 {
	margin-left: 0;
}
.onoffswitch-checkbox4:checked + .onoffswitch-label4 .onoffswitch-switch4 {
	right: 0px;
}
#ligneinfo {
	margin-top: 43px;
	margin-bottom: 40px;
	font-weight: normal;
	font-size: 16px;
}
#ligneinfo i {
	height: 22px;
	max-height: 22px;
	width: 26px;
	max-width: 26px;
	text-align: center;
	color: #0065fc;

	border: 2px solid #f2f2f2;
	border-radius: 50%;
	margin-right: 18px;
	padding-top: 5px;
}
/*fin ligne info*/
/*fin bloc filtre*/
/*bloc hébergement*/
.hebergement {
	width: 880px;
	height: 630px;
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 40px 0px 40px;
	border-radius: 3%;
}
.hebergementhead {
	width: 80%;
	height: 20px;
	font-size: large;
	margin: 0;
}
.result {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 250px;
	height: 200px;
	overflow: hidden;
	margin: 0;
	border: 4px solid #ffffff;
	border-radius: 7%;
}
.resultlien {
	text-decoration: none;
}
.resultlien:visited {
	color: black;
}
.hebergementimagesize {
	width: 100%;
	height: 120px;
	object-fit: cover;
	margin-bottom: -5px;
}
.hebergementtextsize {
	height: 80px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #ffffff;
}
.nomhotel {
	margin: 0;
	padding-left: 10px;
}
.tarif {
	font-weight: normal;
	font-size: small;
	padding-left: 10px;
}
.hebergementstar {
	padding-left: 10px;
}
.bluestar {
	font-size: small;
	color: #0065fc;
}
.greystar {
	font-size: small;
	color: #f2f2f2;
}
.searchmore {
	vertical-align: middle;
	margin-top: 10px;
	display: inline;
}
.searchmorelink {
	width: 80%;
	height: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.searchmorelink:visited {
	color: black;
=======
	transition: all 0.2s;
}
.searchbar button:hover {
	cursor: pointer;
	box-shadow: inset 3px 3px 3px black;
	transform: scale(0.98);
}
/* fin bloc recherche */
/* bloc filtres*/
.filters {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 50px;
}
.linetittle {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 40px;
}
.filtersbar1 {
	width: 190px;
}
.filtersname1 {
	width: 140px;
}
.filtersbar2 {
	width: 147px;
}
.filtersname2 {
	width: 97px;
}
.filtersbar3 {
	width: 180px;
}
.filtersname3 {
	width: 130px;
}
.filtersbar4 {
	width: 238px;
}
.filtersname4 {
	width: 188px;
}
.filtersbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 32px;
	margin-bottom: 40px;
	margin-top: 30px;
	height: 48px;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-radius: 25px;
}
.filtersbar:link {
	text-decoration: none;
	color: black;
}
.filtersbar:visited {
	color: black;
}
.filtersicon:hover {
	color: #deebff;
	transform: rotateZ(360deg);
	background-color: #0065fc;
	transition: all 0.5s;
}
.filtersicon {
	background-color: #deebff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065fc;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 50%;
}

.filtersname {
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.infoline {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 50px;
}
.infoicon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	font-size: small;
	color: #0065fc;
	border: 2px solid #f2f2f2;
	border-radius: 10px;
}
.infotext {
	font-weight: normal;
	font-size: medium;
}
/*fin bloc filtre*/
/*bloc hébergement*/
.hebergementglobalbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.hebergement {
	width: 880px;
	height: 630px;

	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 50px;
	border-radius: 20px;
	margin-top: 40px;
}
.hebergementhead {
	width: 100%;
	height: 24px;
	font-size: 24px;
	margin-top: 50px;
	margin-left: 40px;
	margin-bottom: 0;
}
.result {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 235px;
	height: 190px;
	overflow: hidden;
	margin: 0;
	border: 4px solid #ffffff;
	border-radius: 15px;
	transition: all 0.3s;
}
.result1 {
	margin-left: 40px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.result2 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.result3 {
	margin-right: 40px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.result4 {
	margin-left: 40px;
	margin-bottom: 25px;
}
.result6 {
	margin-right: 40px;
}
.resultlien {
	text-decoration: none;
}
.resultlien:link {
	color: black;
}
.result:hover {
	transform: scale(1.1);
	box-shadow: 3px 3px 5px black;
}
.resultlien:visited {
	color: black;
}
.hebergementimagesize {
	width: 100%;
	height: 115px;
	object-fit: cover;
	margin-bottom: -5px;
}
.hebergementtextsize {
	height: 75px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #ffffff;
	padding-left: 15px;
}
.nomhotel {
	margin: 0;
	font-size: 14px;
}
.tarif {
	font-weight: normal;
	font-size: 14px;
}
.bluestar {
	font-size: 14px;
	color: #0065fc;
}
.greystar {
	font-size: 14px;
	color: #f2f2f2;
}
.searchmorelink {
	height: 14px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	width: 20%;
	transition: all 0.3s;
	margin-left: 40px;
	margin-bottom: 50px;
}

.searchmorelink:visited {
	color: black;
}
.searchmorelink:hover {
	color: #0065fc;
	transform: scale(1.1);
	text-shadow: rgb(99, 96, 96) 5px 5px;
}
/*bloc populaire*/
.lespluspopulaires {
	width: 420px;
	height: 630px;

	display: flex;

	margin-top: 40px;
	margin-right: 50px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	border: 4px solid white;
	border-radius: 20px;
}
.pophead {
	width: 342px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}
.pophead p {
	margin: 0;
	font-size: 24px;
}
.popresult {
	width: 334px;
	height: 134px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	border: 4px solid white;
	border-radius: 15px;
	transition: all 0.3s;
}
.popresult3 {
	margin-bottom: 33px;
}
.popimagesize {
	height: auto;
	width: 128px;
	object-fit: cover;
}
.poptextsize {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: auto;
	width: 206px;
	background-color: white;
	padding-left: 20px;
}
.resultlien {
	text-decoration: none;
}
.resultlien:link {
	color: black;
}
.popresult:hover {
	transform: scale(1.1);
	box-shadow: 3px 3px 5px black;
>>>>>>> Stashed changes
}
